[submodule "RTracer/external/imgui"]
	path = RTracer/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "RTracer/external/glfw"]
	path = RTracer/external/glfw
	url = https://github.com/glfw/glfw
[submodule "RTracer/external/glm"]
	path = RTracer/external/glm
	url = https://github.com/g-truc/glm.git
